{{ with .Site.Data.cards }}
    {{ range where .section "enable" true}}
        {{ range .element }}
                    {{ $imageName := .img | printf "%s/%s" "images" }}
                    {{ $image := resources.Get $imageName | minify | fingerprint "sha512" }}
                    {{ $.Scratch.Set .img $image.Permalink }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $background := resources.Get "images/background.svg" | resources.ExecuteAsTemplate "background.svg" . | minify | fingerprint "sha512" }}
{{ $.Scratch.Set "background.svg" $background.Permalink }}

{{ $googleFonts := resources.Get "scss/googleFonts.scss" | resources.ExecuteAsTemplate "googleFontsCompiled.scss" . | toCSS | minify | fingerprint "sha512" }}
{{ $.Scratch.Set "googleFonts" $googleFonts.Permalink }}

{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "styleCompiled.scss" . | toCSS | minify | fingerprint "sha512" }}
{{ $.Scratch.Set "style" $style.Permalink }}

{{ $serviceWorker := resources.Get "/serviceworker.js" | resources.ExecuteAsTemplate "serviceworker.js" . | minify | fingerprint "sha512" }}
{{ $.Scratch.Set "serviceWorker" $serviceWorker.Permalink }}