* {
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    border: 0;
    padding: 0;
}

*:focus, *:active, *:hover, *::selection,*:visited {
    outline: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Fira Sans', sans-serif;
    min-height: 100vh;
    {{ $background := resources.Get "images/background.svg" | resources.ExecuteAsTemplate "background.svg" . | minify | fingerprint "sha512" }}   
    background: url("{{ $background.Permalink }}") repeat fixed, {{ .Site.Params.backgroundColor }};
}

.container {
    border-top:1px solid  {{ .Site.Params.bordersColor }};

    &:first-of-type { 
        border-top: 0;
    }

    .title {
        color: {{ .Site.Params.sectionTitleColor }};
        font-size: 32px;
        padding: 10px;
        border-bottom: 1px solid {{ .Site.Params.bordersColor }};
        background-color: {{ .Site.Params.sectionTitleBackgroundColor }};
    }

    .cards {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;

        .card {
            display: flex;
            flex-direction: column;
            position: relative;
            color: {{ .Site.Params.cardTitleColor }};
            text-align: center;
            border: 1px solid {{ .Site.Params.bordersColor }};
            border-radius: 5px;
            background-color: {{ .Site.Params.cardBackgroundColor }};

            .cardtitle {
                padding: 5px;
                font-size: 15px;
                border-top: 1px solid {{ .Site.Params.bordersColor }};
            }

            picture {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;
                padding: 10px;
                img {
                    width: 100%;
                }
            }

            a {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container .cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    } 
}