* {
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    border: 0;
    padding: 0;
}

*:focus, *:active, *:hover, *::selection,*:visited {
    outline: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Fira Sans', sans-serif;
    min-height: 100vh;
    {{ $background := resources.Get "images/background.svg" | resources.ExecuteAsTemplate "background.svg" . | minify | fingerprint "sha512" }}
    background: url("{{ $background.Permalink }}") repeat fixed, {{ .Site.Params.backgroundColor }};
}

section {

    border-top:1px solid {{ .Site.Params.bordersColor }};

    &:first-of-type {
        border-top: 0;
    }

    h1 {
        color: {{ .Site.Params.sectionTitleColor }};
        font-weight: normal;
        font-size: 32px;
        padding: 10px;
        border-bottom: 1px solid {{ .Site.Params.bordersColor }};
        background-color: {{ .Site.Params.sectionTitleBackgroundColor }};
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .search-wrapper{
        padding: 10px;
        background-color: {{ .Site.Params.sectionTitleBackgroundColor }};
        position: sticky;
        top: 0;
        input {
            color: {{ .Site.Params.sectionTitleColor }};
            font-weight: normal;
            font-size: 32px;
            line-height:1.2em;
            width: 100%;
            background-color: #00000000;
            top: 0;
            z-index: 100;
            border:0;
        }
    }

    .cards {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;

        article {
            display: flex;
            flex-direction: column;
            position: relative;
            color: {{ .Site.Params.cardTitleColor }};
            text-align: center;
            border: 1px solid {{ .Site.Params.bordersColor }};
            border-radius: 5px;
            background-color: {{ .Site.Params.cardBackgroundColor }};

            .cardtitle {
                padding: 5px;
                font-size: 15px;
                border-top: 1px solid {{ .Site.Params.bordersColor }};
            }

            picture {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;
                padding: 10px;
                img {
                    width: 100%;
                }
            }

            a {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
        }
    }

    .titles {
        position: sticky;
        top: 0;
        z-index: 100;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        color: {{ .Site.Params.sectionTitleColor }};
        background-color: {{ .Site.Params.sectionTitleBackgroundColor }};
        border-bottom:1px solid {{ .Site.Params.bordersColor }};
        .title {
            flex: 0 0 auto;
            font-weight: normal;
            font-size: 32px;
            padding: 10px;
            border-right: 1px solid {{ .Site.Params.bordersColor }};

            &:hover {
                background-color: {{ .Site.Params.linkBackgroundColor }};
            }
        }
    }

    input[type=radio] {
        display: none;
    }

    {{ with .Site.Data.lists }}
        {{ range where .section "enable" true}}
            #{{ .id }}:checked ~ #{{ .id }}-list {
                display: grid;
            }
        {{ end }}
    {{ end }}


    .list {
        display: none;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
        padding: 10px;
        justify-items: stretch;
        align-items: center;

        a {
            background-color: {{ .Site.Params.linkBackgroundColor }};
            color: {{ .Site.Params.linkColor }};

            border: 1px solid {{ .Site.Params.bordersColor }};
            border-radius: 0.75em;

            padding: 10px;
            max-width: 100%;
            min-width: 0;
            overflow: hidden;

            font-size: 25px;
            font-weight: 300;
            text-decoration-line: none;

            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

@media only screen and (max-width: 768px) {
    section {
        .cards {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
        .title:last-child {
                border-right: unset;
        }
    }
}