<section>
    {{ $imagesCopy := .indexScratch }}
    <h1>{{ .page.title }}</h1>
    <div class="cards">
        {{ range .page.element }}
        <article>
            <picture>
                {{ $image := $imagesCopy.Get .img }}
                <img inline src="{{ $image }}" alt="{{ .title }}">
            </picture>
            <div class="cardtitle">{{ .title }}</div>
            <a href="{{ .url }}" rel="noreferrer" aria-label="{{ .title }}"></a>
        </article>
        {{ end }}
    </div>
</section>