<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="ltr">
{{ partial "head/head.html" . }}
<body>
    {{ $indexScratch := .Scratch }}

    {{ with .Site.Data.cards }}
        {{ range where .section "enable" true}}
            {{ partial "cards.html" (dict "indexScratch" $indexScratch "page" .) }}
        {{ end }}
    {{ end }}

    {{ with .Site.Data.lists }}
        {{ partial "lists.html" . }}
    {{ end }}
</body>
<link rel="stylesheet" href='{{ $.Scratch.Get "googleFonts" }}' media="screen">
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ $.Scratch.Get "serviceWorker" }}');
    };
</script>
</html>